<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @house.location %>
</p>

<p>
  <strong>Realprice:</strong>
  <%= @house.realprice %>
</p>

<p>
  <strong>Fakeprice1:</strong>
  <%= @house.fakeprice1 %>
</p>

<p>
  <strong>Fakeprice2:</strong>
  <%= @house.fakeprice2 %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
